@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Indie+Flower&family=Matemasie&display=swap');

h2{
    font-size: 250%;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label{
    font-size: 150%;
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -100px;
}

textarea {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #A02334;
    color: #FFEEAD;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFEEAD;
    color: #A02334;
}

